.site-footer {
    background: linear-gradient(75deg, $dark-brown, $brown, $light-brown);
    border-top: 1px solid $grey-color-light;
    color: $platinum;
    padding: $spacing-unit 0;
}

.footer-col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width : calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width : calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-wrapper {
    color: $super-platinum;
    .u-email,
    .username {
        color: $super-platinum;
        &:hover {
            color: $super-platinum;
        }
    }
    .svg-icon {
        fill: $super-platinum;
    }
}

.site-icon-credits {
    font-size: $small-font-size;
    margin-bottom: 1.5em;

    p {
        margin: 0;
    }

    a {
        color: $footer-link;
    }
}

.site-credits {
    text-align: center;
    > p {
        margin: 0;
    }

    a {
        color: $footer-link;
    }

    .copyright {
        font-size: $small-font-size;
    }
}

@include media-query($on-palm) {
    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
        width: 100%;
    }
}
