<ul class="pinned-posts">
{%- for posts in site.posts -%}
  {%- for post in site.pinpost -%}
    {%- if posts.title == post -%}
      <li style="margin-bottom: 1em">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3 style="margin:0">
          <a class="post-link" href="{{ posts.url | relative_url }}">
            {{ posts.title | escape }}
          </a>
        </h3>
        {%- include post_meta.html page=posts include_link=true -%}
      </li>
      {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
</ul>
  