:root {
  --accented-border-style: var(--base0C) solid .1vw;
  --code-size: 50vh;

  --body-family: "Source Serif Pro", "IBM Plex Serif", "Noto Serif", serif;
  --header-family: "Source Sans Pro", "IBM Plex Sans", "Noto Sans", sans-serif;
  --mono-family: "Source Code Pro", "IBM Plex Mono", "Noto Mono", monospace;
  color: var(--base05);
}

pre, code {
  max-height: var(--code-size);
}

// Layouts
.site__title {
  --size: 2rem;
  margin-bottom: unset;
  font-size: var(--size);
  line-height: unset;
}

.site__socials {
  margin-top: 1em;
}

.site__social-icon svg {
  fill: currentColor;
}

article.post {
  padding: 0.5em;
  background: var(--base01);
}

.post__meta--single {
  p > span:first-child {
    white-space: nowrap;
  }
}

#TableOfContents {
  > ul {
    padding-left: 0;
    list-style: none;
  }

  ul ul {
    list-style: none;
    padding-left: 1.5em;
  }
}

// Custom layouts
// Asciidoctor roles (e.g., [.text-center]) on a block.
.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

#logo {
  svg {
    --size: 4em;
    height: var(--size);
    width: var(--size);
    fill: var(--base0C);

    &:hover {
      fill: var(--base08);
      animation: rainbow 2s ease infinite;
    }
  }
}

@keyframes rainbow {
  @for $i from 0 through 8 {
    #{$i * 10}% { fill: var(--base#{decToHex($i + 7)}); }
  }
}

[data-tooltip] {
  &::before {
    --scale: 0;

    background: var(--base01);
    content: attr(data-tooltip);
    font-size: 0.8em;
    padding: 0.5em;
    position: absolute;
    transform: translateY(var(--translate-y, -50%)) scale(var(--scale));
    transform-origin: bottom center;
    width: max-content;
    max-width: 100%;
  }

  &:hover::before {
    --scale: 1;
  }
}

// Prism CSS
code[class*="language-"], pre[class*="language-"] {
  color: var(--base05);
}


// Asciidoctor-specific styles
sup.footnote {
  vertical-align: baseline;
  position: relative;
  top: 0;
  left: 0;
  font-size: 1rem;
}

.anchor {
  border-bottom: unset;
  &:hover {
    border-bottom: unset;
  }

  &::before {
    content: "ยง";
    display: inline-block;
    margin-right: 0.25em;
  }
}

.conum {
  color: var(--base05) !important;
  background-color: var(--base02);
  user-select: none;
}

.quoteblock {
  blockquote {
    border: var(--accented-border-style);
    margin: auto;
    padding: 1em 0.5em;
  }
}

@keyframes target-fade {
  0% {
    background: var(--base0D);
    color: unset;
  }
  100% {
    background-color: transparent;
  }
}

#footnotes > *:not(hr) {
  line-height: 1.45;
  margin: 1em;
}

*:not(.listingblock) {
  > *.attribution,
  > *.title {
    background: var(--base0C);
    color: var(--base00);
    font-size: 0.9em;
    padding: 0.5em;

    &::selection {
      background: var(--base07);
    }
  }

  > *.content {
    border: var(--accented-border-style);
    padding: 0.5em;
  }
}

.admonitionblock {
  .icon {
    background: var(--base0C);
    border: var(--accented-border-style);
    vertical-align: middle;
  }
}

.imageblock {
  > .content {
    display: flex;
    justify-content: center;
  }

  > .title {
    text-align: center;
  }
}

@media all and (max-width: 860px) {
  .imageblock {
    > .content {
      width: 100% !important;
    }
  }
}
