:root {
  --accented-border-style: var(--base0C) solid 1px;
  color: var(--base05);
}

// Base
footer {
  margin-bottom: 1.5em;
  > * {
    margin-top: 1em;
    margin-bottom: 0;
  }
}

// Layouts
.site__socials {
  margin-top: 1em;
}

.post__meta--single {
  p > span:first-child {
    white-space: nowrap;
  }
}

#TableOfContents {
  > ul {
    padding-left: 0;
    list-style: none;
  }

  ul ul {
    list-style: none;
    padding-left: 1.5em;
  }
}

// Prism CSS
code[class*="language-"], pre[class*="language-"] {
  color: var(--base05);
  font-size: 0.9em;
}

// Asciidoctor-specific styles
.anchor {
  &::before {
    content: "§";
    display: inline-block;
    margin-right: 0.25em;
  }
}

.conum {
  color: var(--base05) !important;
  background-color: var(--base02);
  user-select: none;
}

.quoteblock {
  blockquote {
    border: var(--accented-border-style);
    margin: auto;
    padding: 1em 0.5em;
  }
}

@keyframes target-fade {
  0% {
    background: var(--base0D);
    color: unset;
  }
  100% {
    background-color: transparent;
  }
}

#footnotes > *:not(hr) {
  line-height: 1.45;
  margin: 1em;
}

*:not(.listingblock) {
  > *.attribution,
  > *.title {
    background: var(--base0C);
    color: var(--base00);
    font-size: 0.9em;
    padding: 0.5em;

    &::selection {
      background: var(--base07);
    }
  }

  > *.content {
    border: var(--accented-border-style);
    padding: 0.5em;
  }
}

.admonitionblock {
  .icon {
    background: var(--base0C);
    border: var(--accented-border-style);
    vertical-align: middle;
  }
}

.imageblock {
  > .content {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 860px) {
  .imageblock {
    > .content {
      width: 100% !important;
    }
  }
}
