:root {
  --accented-border-style: var(--base08) solid 1px;
}

.post__meta--single {
  p > span:first-child {
    white-space: nowrap;
  }
}

// Prism CSS
code[class*="language-"], pre[class*="language-"] {
  color: var(--base05);
}

// Asciidoctor-specific styles
.anchor {
  &::before {
    content: "§";
    display: inline-block;
    margin-right: 0.25em;
  }
}

.quoteblock {
  blockquote {
    border: var(--accented-border-style);
    margin: auto;
    padding: 1em 0.5em;
  }
}

@keyframes target-fade {
  0% {
    background: var(--base0D);
    color: unset;
  }
  100% {
    background-color: transparent;
  }
}

#footnotes > *:not(hr) {
  line-height: 1.45;
  margin: 1em;
}

*:not(.listingblock) {
  > *.attribution,
  > *.title {
    background: var(--base08);
    color: var(--base00);
    font-size: 0.9em;
    padding: 0.5em;
  }

  > *.content {
    border: var(--accented-border-style);
    padding: 0.5em;
  }
}

.admonitionblock {
  .icon {
    background: var(--base08);
    border: var(--accented-border-style);
    vertical-align: middle;
  }
}

.imageblock {
  > .content {
    display: flex;
    justify-content: center;
  }
}
