// Asciidoctor roles (e.g., [.text-center]) on a block.
.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

.break-anywhere {
  overflow-wrap: anywhere;
}

.shake {
  animation: shake 0.1s alternate ease-in-out infinite;
}

.extreme-shake {
  animation: extreme-shake 0.1s alternate ease-in-out infinite;
}
