.list-tags {
    color: $grey-color;
}

.home-tags {
    font-size: $small-font-size;
}

.post-updatedOn {
    color: $grey-color-dark;
    font-size: $small-font-size;
    margin-bottom: $base-font-size;
    span.updatedPostDate {
        font-weight: bolder;
    }
}

.post-tags {
    color: $grey-color-dark;
    font-size: $small-font-size;
    .link-tag {
        color: $brand-color;
    }
}
