<section class="webring">
  <h3>Posts from other places I follow</h3>
  <section class="articles">
    
    <div class="webring__article">
      <p class="webring__title">
        <a href="https://www.redhat.com/en/blog/optimize-your-virtualization-platform-ibm-turbonomic-now-manages-vms-red-hat-openshift" target="_blank" rel="noopener">Optimize your virtualization platform: IBM Turbonomic now manages VMs on Red Hat OpenShift</a>
      </p>
      <span class="webring__metadata">
        <small class="webring__source">
          via <a href="https://www.redhat.com/en/rss/blog">Red Hat Blog</a>
        </small>
        <small class="webring__date">- <date datetime="2025-08-22 00:00:00 &#43;0000 &#43;0000">2025-08-22</date></small>
      </span>
    </div>
    
    <div class="webring__article">
      <p class="webring__title">
        <a href="https://daniel.haxx.se/blog/2025/08/18/ai-slop-attacks-on-the-curl-project/" target="_blank" rel="noopener">AI slop attacks on the curl project</a>
      </p>
      <span class="webring__metadata">
        <small class="webring__source">
          via <a href="https://daniel.haxx.se/blog">daniel.haxx.se</a>
        </small>
        <small class="webring__date">- <date datetime="2025-08-18 05:45:30 &#43;0000 &#43;0000">2025-08-18</date></small>
      </span>
    </div>
    
    <div class="webring__article">
      <p class="webring__title">
        <a href="https://engineering.fb.com/2025/08/13/data-infrastructure/agentic-solution-for-warehouse-data-access/" target="_blank" rel="noopener">Creating AI agent solutions for warehouse data access and security</a>
      </p>
      <span class="webring__metadata">
        <small class="webring__source">
          via <a href="https://engineering.fb.com/">Engineering at Meta</a>
        </small>
        <small class="webring__date">- <date datetime="2025-08-13 22:05:07 &#43;0000 &#43;0000">2025-08-13</date></small>
      </span>
    </div>
    
    <div class="webring__article">
      <p class="webring__title">
        <a href="https://nixos.org/blog/announcements/2025/nixos-2505/" target="_blank" rel="noopener">NixOS 25.05 released</a>
      </p>
      <span class="webring__metadata">
        <small class="webring__source">
          via <a href="https://nixos.org/blog/">NixOS Announcements</a>
        </small>
        <small class="webring__date">- <date datetime="2025-05-23 12:00:00 &#43;0000 GMT">2025-05-23</date></small>
      </span>
    </div>
    
    <div class="webring__article">
      <p class="webring__title">
        <a href="https://webzine.puffy.cafe/issue-18.html" target="_blank" rel="noopener">Issue #18</a>
      </p>
      <span class="webring__metadata">
        <small class="webring__source">
          via <a href="https://webzine.puffy.cafe/">OpenBSD Webzine</a>
        </small>
        <small class="webring__date">- <date datetime="2024-10-08 10:01:02 &#43;0000 UTC">2024-10-08</date></small>
      </span>
    </div>
    
  </section>
  <p class="webring__attribution">
    Generated by
    <a href="https://git.sr.ht/~sircmpwn/openring">openring</a>
  </p>
</section>
<style>
.webring .articles {
  margin: -0.5rem;
}

.webring__title {
  margin: 0;
}

.webring__article {
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--base01);
}

.webring__attribution {
  text-align: right;
  font-size: 0.8rem;
}
</style>
