#pinned-section {
    background: lighten($color: $brand-color_l, $amount: 40%);
    border: $brand-color 4px solid;
    border-top: 0;
    border-bottom: 0;
    margin-bottom: 2em;
    padding: $base-font-size;
    
    ul.pinned-posts {
        list-style: none;
        padding: 0;

        @include media-query($on-palm) {margin-left: 0;}
    }

    ::selection {
        background: $brand-color;
        color: white;
    }
}
