$fonts-relative-location: "./fonts/";

$latin-modern-math: $fonts-relative-location + "latinmodern-math/latinmodern-math.min";
$georgia: $fonts-relative-location + "georgia/georgia.min";

@font-face {
    font-family: "Latin Modern Math";
    src: url($latin-modern-math + ".otf") format("otf"),
    url($latin-modern-math + ".ttf") format("truetype"),
    url($latin-modern-math + ".eot") format("embedded-opentype"),
    url($latin-modern-math + ".svg") format("svg"),
    url($latin-modern-math + ".woff") format("woff");
}

@font-face {
    font-family: "Georgia";
    src: url($georgia + ".ttf") format("truetype"),
    url($georgia + ".eot") format("embedded-opentype"),
    url($georgia + ".svg") format("svg"),
    url($georgia + ".woff") format("woff")
}